@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 0.4em;
}

button {
  color: var(--color-background);
  background-color: var(--color-link);
  padding: 0.5em;
  border-radius: 5px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-link);
    color: var(--color-highlight);
    cursor: pointer;
    padding: 0.4em;
    border-radius: 3px;
    transition: 0.8s;
  }

  button:hover {
    cursor: pointer;
    background-color: var(--color-highlight);
    color: var(--color-link);
    transition: 0.8s;
  }
}

@media (min-width: 1024px) {
  body {
    height: 100%;
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }
}
