@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
  height: 100%;
}

a {
  text-decoration: none;
  color: rgb(2, 159, 183);
  transition: 0.4s;
  padding: 0.2em;
}

button {
  background-color: rgb(2, 159, 183);
  color: white;
  padding: 0.5em;
  border-radius: 5px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(235, 85%, 45%, 0.349);
    cursor: pointer;
    padding: 0.2em;
    border-radius: 3px;
    transition: 0.8s;
  }

  button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(2, 159, 183);
    transition: 0.8s;
  }
}

@media (min-width: 1024px) {
  body {
    height: 100%;
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }
}
